APP_NAME=Photoprism
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://paperprism.localhost
APP_TIMEZONE=Europe/Berlin

SANCTUM_STATEFUL_DOMAINS=paperprism.localhost
SESSION_DOMAIN=paperprism.localhost

LOG_CHANNEL=stderr
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=

REDIS_HOST=redis
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
